body {
    margin: 0px;
    padding: 0px;
    background: orange url("background.jpg");
    font-family: 'Comic Sans', 'Comic Sans MS', cursive;
    font-size: small;
}

a {
    color: red;
}

input {
    max-width: 155px;
}

.frame,
div#nav a,
div#main td,
fieldset,
legend,
input[type="submit"],
div.field {
    border: 1px solid orange;
}

.center,
div#background,
div#page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

div#background {
    width: 600px;
    height: 450px;
    background-image: url("background.gif");
}

div#page {
    width: 500px;
    height: 375px;
}

div#header {
    height: 75px;
    text-align: center;
}

div#header h1 {
    margin: 0;
    padding: 0;
    line-height: 75px;
}

div#header table {
    width: 100%;
}

div#header td {
    text-align: center;
}

div#header img {
    border: 2px solid orange;
}

div#nav {
    float: left;
    width: 100px;
    height: 300px;
}

div#nav a {
    display: block;
    margin: 0px auto 5px 0px;
    text-decoration: none;
    text-align: center;
    color: black;
    height: 21px;
    line-height: 21px;
}

div#main {
    float: left;
    width: 395px;
    height: 300px;
    padding-left: 5px;
    overflow: auto; 
}

div#main table {
    width: 100%;
}

div#main td {
    text-align: center;
}

fieldset label {
    display: inline-block;
}

fieldset#register label {
    width: 130px;
}

fieldset#login label {
    width: 130px;
}

fieldset#market label {
    width: 70px;
}

fieldset#post label {
    width: 80px;
}

input[type="submit"] {
    width: 118px;
    margin-top: 5px;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    cursor: pointer;
    color: inherit;
}

#post input[type="submit"] {
    width: 108px;
}

div.field {
    float: left;
    width: 80px;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center; 
}

div.field img {
    border: 2px solid orange;
    display: block;
    margin: 8px; 
}

div#board {
    border: 2px solid red;
    background-color: tomato;
    font-weight: bold;
    text-align: center;
}

div#board a {
    color: blue;
}

div#chat {
    height: 250px;
    overflow: auto;
}

img.emoticon {
    vertical-align: middle;
}

div#error {
    background-color: tomato;
    font-weight: bold;
    border: 2px solid red;
    margin-bottom: 5px;
    padding-left: 5px;
}